body {background:#1e1e1e;color:#fff;font:normal 13px/1 Arial, Verdana, sans-serif;}
  a {color:#fff;text-decoration:underline;}
  a:hover {text-decoration:none;}
  a:visited {color:#ddd;}
  #notice {
    background:url("/images/notice.png") 10px 5px no-repeat #347d31;
    color:#fff;
    margin:0 auto 10px;
    padding:10px 39px;
    width:822px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight:bold;
  }
  #alert {
    background:url("/images/error.png") 10px 5px no-repeat #cc0000;
    color:#fff;
    margin:0 auto 10px;
    padding:10px 39px;
    width:822px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight:bold;
  }
	.container {width:900px;padding:0 30px; position:relative;margin:0 auto;overflow:hidden;}
		.header {overflow:hidden;clear:both;}
			.header div.logo {display:block;width:198px;height:80px;padding-top:15px;float:left;margin-bottom:35px;}
				.header div.logo a {height:80px;margin-bottom:10px;display:block;text-decoration:none;}
          .header div.logo a img {
            font-size:26px;
            font-weight:bold;
            height:80px;
            letter-spacing:3px;
            line-height:20px;
            text-transform:uppercase;
            border:none;
            font-family:"Arial Black";
            }
			.header .navigation {height:30px;clear:both;font-weight:bold;font-family:"Arial Black";position:relative;}
				.header .navigation ul {overflow:hidden;display:block;height:30px;clear:both;}
				.header .navigation ul li {display:block;float:left;margin-right:2px;}
          .header .navigation ul li a {
            display:block;
            border:1px solid #2a4962;
            padding:10px 33px;
            color:#fff;
            background:#284257;
            text-decoration:none;
            text-transform:uppercase;
            line-height:8px;
            height:10px;
            font-size:14px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-width:0;
            }
      .header .navigation ul.user {overflow:hidden;display:block;height:30px;position:absolute;right:0;top:0;}
        .header .navigation ul.user li {display:block;float:left;margin-left:2px;}
          .header .navigation ul.user li a {background:#0E2537;border-color:#14354f;}
            .header .navigation ul li a.current,
            .header .navigation ul li a:hover,
            .header .navigation ul li a:active { background:#225667; }
    .main {
      background:#225667;
      padding:35px 0;
      }
      .main h1,
      .main h2 {
        margin-bottom:35px;
        line-height:1;
        color:#e8e8e8;
        font-size:48px;
        font-family:"Arial Black";
        }
      #error_explanation {
        margin-bottom:25px;
        color:#d24a43;
        font:normal normal 13px/1em Arial,sans-serif;
        background:#fff;
        width:620px;
        }
        #error_explanation h2 {
          font:normal normal 15px/1em Arial,sans-serif;
          margin-bottom:8px;
          background:#d24a43;
          color:#fff;
          padding:5px;
        }
        #error_explanation ul {
          font:normal normal 13px/15px Arial,sans-serif;
          background:#fff;
          padding:0 5px;
          }
          #error_explanation ul li {
            background:url("/images/error_li.gif") 0 0 no-repeat;
            padding-left:22px;
            padding-bottom:8px;
          }
      div.search {clear:both;overflow:hidden;width:100%;margin-bottom:20px;}
				div.search label {display:block;padding:3px 0 4px;font-size:15px;clear:both;}
				div.search input[type="text"] {
          width:756px;
          background:url("/images/search.png") 0 2px no-repeat #1e1e1e;
          color:#dbdbdb;
          float:left;
          display:block;
          border:1px solid #284257;
          height:29px;
          line-height:29px;
          padding:0 0 0 40px;
          margin-right:10px;
        }
				div.search input[type="submit"] {
          float:left;
          display:block;
          clear:right;
          background:url("/images/btn.png") 0 -1px repeat-x #959595;
          color:#000;
          border:1px solid #aeaeae;
          height:30px;
          width:82px;
          padding:0;
          border-radius:5px;
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
          font-size:13px;
          }
        div.actions {overflow:hidden;clear:both;padding-top:20px;margin-bottom:10px;line-height:17px;}
          div.actions input,
          a.btn {
            float:left;
            display:block;
            margin-right:12px;
            background:url("/images/btn.png") 0 -1px repeat-x #959595;
            color:#000;
            border:1px solid #aeaeae;
            height:30px;
            padding:0 25px;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            font-size:13px;
            text-decoration:none;
            line-height:30px;
            }
            div.actions a.back {background:none;color:#fff;}
          a.btn {float:none;margin:0;}
          div.actions a {
            color:#fff;
            text-transform:uppercase;
            font-size:14px;
            font-family:"Arial Black";
            font-weight:bold;
            text-decoration:underline;
            line-height:30px;
            padding-right:10px;
            display:inline-block;
          }        
      .field {
        font-size:13px;
        margin-bottom:20px;
        overflow:hidden;
        }
        .field label {
          padding-bottom:3px;
          display:inline-block;
          font-weight:normal;
          font-size:14px;
          }
        .field input,
        .field textarea,
        .field select {       
          background:#1e1e1e;
          color:#dbdbdb;
          border:1px solid #284257;
          font-size:15px;
          font-family:Arial,sans-serif;
          }
          .field select {padding:4px;}
          .field select option {padding:0 6px;}
          .field input,
          .field textarea {width:600px;height:24px;line-height:23px;padding:4px 10px;}
            .field textarea {height:80px;}
            .field input[type="checkbox"],
            .field input[type="radio"] {
              height:auto;
              width:auto;
              line-height:normal;
            }
          .error input,
          .error textarea,
          .error select {
            border:1px solid #e18c44;
          }
          span.message {
            background:url("/images/alert.png") 0 0 no-repeat;
            padding-left:20px;
            color:#e18c44;
            font-weight:bold;
          }
      .unit.field {
        background:url("/images/unit.png") 0 center repeat-x #e9e9e9;
        padding:15px;
        font-size:13px;
        margin-bottom:5px;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        behavior: url(/stylesheets/border-radius.htc);
        border:#fff;
        position:relative;
        color:#000;
        width:260px;
        height:95px;
        float:left;
        margin:0 10px 10px 0;
        }
        .unit.field:hover {background-image:none;}
        .unit.field a {color:#284257;}
          .unit.field a.icon,
          .unit.field a.icon.other {
            background:url("/images/units.png") 0 -127px no-repeat;
            width:80px;
            height:70px;
            float:left;
            clear:left;
            text-indent:-9999em;
            display:block;
            }
            .unit.field a.icon.notebook {background-position:0 -127px;}
            .unit.field a.icon.server {background-position:0 -200px;}
            .unit.field a.icon.printer {background-position:0 -60px;height:60px;} 
            .unit.field a.icon.monitor {background-position:0 -570px;}
            .unit.field a.icon.mouse {background-position:0 -274px;height:60px;}
            .unit.field a.icon.keyboard {background-position:0 -637px;}
            .unit.field a.icon.box {background-position:0 -483px;height:75px;}
            .unit.field a.icon.webcam {background-position:0 -406px}
            .unit.field a.icon.network-tools {background-position:0 -336px;}
            .unit.field a.icon.other {background-position:0 3px;}
          .unit.field p {margin-bottom:5px;padding-left:80px;}
          .unit.field p.unit-name {margin-bottom:8px;}
            .unit.field p.unit-name a {
                color:#284257;
                font-size:19px;
                text-decoration:none;
                font-weight:bold;
                line-height:1;
                font-family:"Arial Black";
              }
            .unit.field a.destroy {
              position:absolute;
              right:10px;
              top:10px;
              background:url("/images/trash.png") 0 0 no-repeat;
              height:16px;
              width:16px;
              text-indent:-9999em;
              }
        .unit.field p.description {margin-bottom:8px;line-height:1.1em;}
        .unit.field p.room, 
        .unit.field p.owned {font-weight:bold;color:#222;font-size:11px;}
        .unit.field p.on-depot {font-weight:bold;font-size:11px;}
      .user.field,
      .room.field {
        background:#1a4d5e;
        padding:15px 10px;
        font-size:13px;
        margin-bottom:5px;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:#fff;
        position:relative;
        margin-right:10px;
        }
        .user.field:hover,
        .room.field:hover {background:#246276;}
        .user.field a {
          background:url("/images/user.png") 3px center no-repeat;
          padding-left:25px;
          color:#fff;
          font-weight:bold;
        }
        .room.field a {color:#fff;font-weight:bold;}
        .user.field a.delete,
        .room.field a.delete {font-weight:bold;background:none;position:absolute;right:10px;padding:0;}
        .room.field a.destroy {
            position:absolute;
            right:5px;
            top:12px;
            background:url("/images/trash.png") 0 0 no-repeat;
            height:24px;
            width:24px;
            text-indent:-9999em;
            }
        .room.field a.edit {
          position:absolute;
          top:13px;
          right:35px;
          color:#999;
          font-weight:bold;
        }
      .cancel-account {
        position:absolute;
        right:60px;
        top:0;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        behavior: url(/stylesheets/border-radius.htc);
        background:#efbf88;
        color:#284257;
        border:1px solid #e8e8e8;
      }
      .cancel-account h3 {
        -moz-border-radius-topleft:5px;
        -moz-border-radius-topright:5px;
        background:url("/images/cancel.png") no-repeat scroll 5px 3px #E18C44;
        color:#FFFFFF;
        font-size:13px;
        padding:12px 20px 12px 40px;
      }
      .cancel-account p {
        padding:10px;
        font-size:13px;
        }
        .cancel-account a {
          color:#284257;
          font-weight:bold;
          }
      .pagination {
        clear:both;
        float:left;
        margin-top:20px;
        width:100%;
        }
        .pagination a {
          color:#fff;
          text-transform:uppercase;
          font-size:14px;
          font-family:"Arial Black";
          font-weight:bold;
          text-decoration:underline;
          line-height:14px;
          padding-right:10px;
          display:inline-block;
          }
         .pagination a {color:#0E2537;}
          .pagination em {text-decoration:none;font-style:normal;}
        .pagination .next_page,
        .pagination .previous_page {display:block;float:left;height:34px;width:35px;text-indent:-9999em;padding:0 !important;}
        .pagination .previous_page {margin-right:10px;}
        .pagination .previous_page {background:url("/images/pagination.png") 0 -34px no-repeat;}
        .pagination .next_page {background:url("/images/pagination.png") right -34px no-repeat;}
        .pagination .previous_page.disabled {background-position:0 0;}
        .pagination .next_page.disabled {background-position:right 0;}
      .required {font-weight:bold;font-size:21px;color:#D24A43;line-height:14px;}
		.footer {padding:15px 0;background:#0e2537;clear:both;overflow:hidden;font-size:12px;line-height:1.2em;border-bottom:1px solid #14354F;}
			.footer .container div {float:left;width:50%;}
			.footer p.copy {font-family:"Arial Black";text-transform:uppercase;font-weight:bold;float:right;text-align:right;width:50%;font-size:14px;}
			
