* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  background: #fff;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  line-height: 1.5;
  margin-bottom: 0.3em;
}

h1 {
  font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}

h2 {
  font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.9em;
}

h3 {
  font-size: 1.3em;
}

p {
  margin-bottom: 1.3em;
}

a {
  color: #469;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  padding: 3px;
  border: 1px solid #ccc;
  background: #fff;
}

ol, ul {
  margin-bottom: 1.5em;
  margin-left: 2em;
}

#container {
  width: 740px;
  min-height: 100%;
  margin: 0px auto;
  border-color: #bbb;
  border-style: none solid;
  border-width: 0px 1px;
}

#content {
  width: 700px;
  padding: 20px;
  line-height: 1.5em;
}

#navigation {
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#navigation a {
  color: #333;
  font-weight: bold;
  margin-right: 10px;
}

div#notice, div#error, div#success, div#alert {
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  margin: 5px 0px 10px;
}

div#notice {
  color: #080;
  background-color: #9f9;
  border: 1px solid #080;
}

div#error, div#alert {
  color: #c00;
  background-color: #f99;
  border: 1px solid #c00;
}

pre {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

div.field, div.actions {
  margin-bottom: 12px;
}

div.field label {
  font-weight: bold;
}

div.field.checkbox label {
  font-weight: normal;
}

input { margin: 0; padding: 0; }

input[type="text"], input[type="password"] {
  font-size: 13px;
  padding: 1px;
  width: 250px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

form span.error span.message, form span.error label {
  color: #c00;
  font-weight: bold;
}

div.clear {
  clear: both;
}

