body {background:#1e1e1e;color:#fff;font:normal 13px/1 Arial, Verdana, sans-serif;}
  a {color:#fff;text-decoration:underline;}
  a:hover {text-decoration:none;}
  a:visited {color:#ddd;}
  #notice {
    background:url("/images/notice.png") 10px 4px no-repeat #347d31;
    color:#fff;
    margin:14px auto 0;
    padding:8px 39px;
    width:822px;
  }
  #error {
    background:url("/images/error.png") 10px 4px no-repeat #cc0000;
    color:#fff;
    margin:14px auto 0;
    padding:8px 39px;
    width:822px;
  }

	.container {width:900px;padding:0 30px; position:relative;margin:0 auto;overflow:hidden;}
		.header {overflow:hidden;clear:both;}
			.header div.logo {display:block;width:198px;height:80px;padding-top:15px;float:left;margin-bottom:20px;}
				.header div.logo a {height:80px;margin-bottom:10px;display:block;text-decoration:none;}
          .header div.logo a img {
            font-size:26px;
            font-weight:bold;
            height:80px;
            letter-spacing:3px;
            line-height:20px;
            text-transform:uppercase;
            border:none;
            font-family:"Arial Black";
            }
      .header div.menu {padding-top:15px;text-align:right;}
        .header div.menu a {font-weight:bold;}
			.header .navigation {height:40px;clear:both;font-weight:bold;font-family:"Arial Black"}
				.header .navigation ul {overflow:hidden;display:block;height:40px;clear:both;}
				.header .navigation ul li {display:block;float:left;margin-right:2px;}
          .header .navigation ul li a {
            display:block;
            border:1px solid #2a4962;
            padding:10px 33px;
            color:#fff;
            background:#284257;
            text-decoration:none;
            text-transform:uppercase;
            line-height:18px;
            height:20px;
            font-size:22px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-width:0;
            }
          .header .navigation ul li a.current,
          .header .navigation ul li a:hover,
          .header .navigation ul li a:active { background:#225667; }
    .main {
      background:#225667;
      padding:35px 0;
      }
      .main h1 {
        margin-bottom:25px;
        line-height:1;
        color:#e8e8e8;
        font-size:48px;
        font-family:"Arial Black";
        }
        .main h1.user {font-size:23px;}
      div.search {clear:both;overflow:hidden;width:100%;margin-bottom:25px;}
				div.search label {display:block;padding:3px 0 4px;font-size:15px;clear:both;}
				div.search input[type="text"] {
          width:756px;
          background:url("/images/search.png") 0 2px no-repeat #1e1e1e;
          color:#dbdbdb;
          float:left;
          display:block;
          border:1px solid #284257;
          height:26px;
          line-height:23px;
          padding:0 0 0 40px;
          margin-right:10px;
          margin-top:1px;
        }
				div.search input[type="submit"] {
          float:left;
          display:block;
          clear:right;
          background:url("/images/btn.png") 0 -1px repeat-x #959595;
          color:#000;
          border:1px solid #aeaeae;
          height:30px;
          width:82px;
          padding:0;
          border-radius:5px;
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
          font-size:13px;
          }
        div.actions {overflow:hidden;clear:both;padding-top:20px;margin-bottom:10px;}
          div.actions a,
          div.actions input,
          a.btn {
            float:left;
            display:block;
            margin-right:10px;
            background:url("/images/btn.png") 0 -1px repeat-x #959595;
            color:#000;
            border:1px solid #aeaeae;
            height:30px;
            padding:0 25px;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            font-size:13px;
            text-decoration:none;
            line-height:30px;
            }
            div.actions a.back {background:none;color:#fff;}
          a.btn {float:none;margin:0;}
          
      .field {
        font-size:13px;
        margin-bottom:10px;
        }
        .field label {
          padding-bottom:3px;
          display:inline-block;
          font-weight:bold;
          }
        .field input,
        .field textarea,
        .field select {       
          background:#1e1e1e;
          color:#dbdbdb;
          border:1px solid #284257;
          height:24px;
          line-height:23px;
          }
          .field input,
          .field textarea {width:99%;padding:0 10px;}
            .field textarea {height:100px;}
            .field input[type="checkbox"],
            .field input[type="radio"] {
              height:auto;
              width:auto;
              line-height:normal;
            }
      .unit.field {
        background:url("/images/unit.png") 0 center repeat-x #c0c0c0;
        padding:20px 15px;
        font-size:13px;
        margin-bottom:5px;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:#fff;
        position:relative;
        color:#000;
        width:260px;
        height:83px;
        float:left;
        margin:0 10px 10px 0;
        }
        .unit.field:hover {background-image:none;}
        .unit.field a {color:#000;}
      .user.field,
      .room.field {
        background:url("/images/unit.png") 0 center repeat-x #c0c0c0;
        padding:15px 10px;
        font-size:13px;
        margin-bottom:5px;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:#fff;
        position:relative;
        margin-right:10px;
        }
        .user.field:hover,
        .room.field:hover {background-image:none;}
        .user.field a {
          background:url("/images/user.png") 3px center no-repeat;
          padding-left:30px;
          color:#000;
          font-weight:bold;
        }
        .room.field a {color:#000;}
        .user.field a.delete,
        .room.field a.delete {font-weight:bold;background:none;position:absolute;right:10px;padding:0;}

		.footer {padding:15px 0;background:#0e2537;clear:both;overflow:hidden;font-size:12px;line-height:1.2em;}
			.footer .container div {float:left;width:50%;}
			.footer p.copy {text-transform:uppercase;font-weight:bold;float:right;text-align:right;width:50%;letter-spacing:2px;font-size:13px;}
			