<% if @units.blank? %>
  No units
<% else %>
  <% @units.each do |unit| %>
    <div class="unit field">
      <%= render :partial => unit %>
      <% if can?(:manage, unit) %>
        <%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy', :title => 'Destroy this unit' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= will_paginate @units %>