<% @units.each do |unit| %>
  <div class="field">
    <%= render :partial => unit %>

    <br />
    <%= link_to 'Edit', edit_unit_path(unit) %> | <%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>

<%= will_paginate @posts %>