<% @units.each do |unit| %>
  <div class="unit field">
    <%= render :partial => unit %>

    <br />
    <%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>

<%= will_paginate @units %>